/* Set the overall font and colors */
body {
    font-family: Arial, sans-serif;
    color: #fff; /* Darker text for readability */
    background-color: #879676 !important; /* dark green  background */
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar{
    background-color: #879676; /* Neutral brown tone */
    border-color: none;
}

.navbar .navbar-brand,
.navbar-nav .nav-link {
    color: #fff !important; /* White text for links */
    font-family: Arial, sans-serif;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: #005bb5;
  color: #fff !important;
}


/* Panel (Controls) styling */

#controls {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#controls h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #0073e6;
}

/*Buttons */ 

.action-button {
  background-color: #0073e6;
  border: none;
  color: White;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.acton-button:hover {
  background-color: #005bb5;
  
}

/* Picker Input Styling */
.dropdown-menu {
  max-height: 300px;
  overflow-y: auto; /* Add scroll to long dropdowns */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.dropdown-menu .dropdown-item {
  padding: 10px;
  font-size: 14px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f1f1f1;
}

/* Map Styling */
.leaflet-container {
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Popup Styling */
.leaflet-popup-content {
  font-size: 14px;
  line-height: 1.5;
}

.leaflet-popup-content h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.leaflet-popup-content img {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Data Table */
.dataTables_wrapper {
  margin: 20px 0;
}

table.dataTable {
  border-collapse: collapse !important;
}

table.dataTable thead {
  background-color: #0073e6;
  color: white;
}

table.dataTable tbody tr:hover {
  background-color: #f1f1f1;
}

/* About Section Styling */
.column {
  padding: 20px;
}

.column h2 {
  font-size: 22px;
  color: #0073e6;
  margin-bottom: 10px;
}

.column h5 {
  font-size: 16px;
  line-height: 1.6;
}

/* Modal Styling */
.modal-title {
  font-size: 20 px;
  font-weight: bold;
  color: black;
}

.modal-dialog {
  color: black;
  background-color: white;
  padding: 15px;
}

/* Style for scrollable popup content */
.scrollable-popup {
  max-height: 300px; /* Adjust height as needed */
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 5px;
  font-family: Arial, sans-serif; /* Optional: set a consistent font */
}
.popup-title {
  font-family: Arial, Sans-Serif;
  font-weight: bold;
  font-size: 18px;
}
